<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quotes Server{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Quotes Server" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="stylesheet" href="/static/quotes.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container">
    {% include "nav.html" %}

    {% block content %}{% endblock %}
</div>
</body>
</html>
